@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,600;1,300;1,,400&display=swap");
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Work Sans', sans-serif;
}
a{
    text-decoration: none;
    color: #ffff;
}
header{
    display: flex;
    min-height: 70px;
    background-color: #271144;
    justify-content: space-around;
    align-items: center;
    padding: 2vh;
}
.logo{
    display: flex;
}
.logo img{
    height: 15vh;
    margin-right: 55vh;
    cursor: pointer;
}
nav a{
    font-weight: 600;
    padding-right: 10vh;
}
nav a:hover{
    color: #a98dcc;
}
