* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
}

/*
==========================================
            HEADER
========================================== 
*/
header {
    position: relative;
    z-index: 3;
    display: flex;
    height: fit-content;
    background: linear-gradient(180deg, #462570, #521b99b7);
    justify-content: space-around;
    align-items: center;
    padding: 1.5vh;

}

.logo-imagen {

    width: 6.875em;
    cursor: pointer;
    margin: auto;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    margin: 0;
}

.nav-link {
    color: white;
    font-weight: 600;
    transition: color .3s, transform 0.2s ease-in-out;
}

.nav-link:hover,
.nav-link:focus {
    color: #000;

    transform: scale(1.1);
}


/*
==========================================
            HEADER
==========================================
/*
==========================================
            HERO
==========================================
*/

.hero {

    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(26, 12, 31, 0.5), rgba(58, 3, 50, 0.969)), url("imagenes/fondo.jpg");

    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    width: 100%;
    height: 43.75em;
}

.hero .contenido-hero {
    position: absolute;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
    /* display: inline-block;
    margin-top: 140px; */
}

.titulo-hero {
    font-size: 5.625em;
    padding: 1.25rem;
    color: white;
    opacity: .7;
    font-family: 'Work Sans', 'Poppins';
    transition: opacity .3s;
}

.slogan-hero {
    padding: 0.625rem 0px 1.25rem 0px;
    font-size: 1.3125em;
    color: white;
    opacity: .7;
    font-family: 'Work Sans', 'Poppins';
    transition: opacity .3s;
}

.titulo-hero:hover,
.slogan-hero:hover {
    opacity: 1;
    cursor: default;

}





/* segundo section */
.hero2 {
    width: 100%;
    height: 20.625em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-direction: column;
    background: linear-gradient(180deg, #230e31, #230e31, #063130, #550b42);
}

.cont-hero2 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-direction: row;
    margin-bottom: 3.125em;
    padding-bottom: 3.125em;

}

.nosotros {
    margin-bottom: 3.125rem;
    font-size: 40px;
    padding: 3.125rem;
    text-align: center;
    color: white;
    cursor: default;
}

.info {
    display: flex;
    margin: auto;
    cursor: default;
}

.fa-solid fa-recycle {
    padding: 0.625rem;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.911);
}

.cont-info {
    padding: 0.625em;
    height: 8.687em;
    cursor: default;
}


.titulo-cont-info {
    font-family: work sans, poping;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.911);
    display: flex;
    justify-content: center;
}

.parrafo-cont-info {
    padding-top: 0.625rem;
    font-size: 17px;
    color: rgba(255, 255, 255, 0.911);
    display: flex;
    justify-content: center;

    text-align: center;
}

/*
==========================================
            HERO
==========================================
*/
/*
==========================================
            SECCION SERVICIOS
==========================================
*/
.servicios {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    margin: 0 auto;
    height: 25em;
    column-gap: 3.125em;
    padding: 1.56em 0;

    background-size: 400% 400%;
    animation: cambiar 10s ease infinite;
}

.grid-servicios {
    text-align: center;
    color: #fff;
    border-radius: 2.5em;
    position: relative;
    background: linear-gradient(180deg, #271144, #521b99b7);
    width: 100%;
    border: none;
    box-shadow: 0 0 0.62em 0.187em rgb(13, 105, 105);
    overflow: hidden;
}

.grid-servicios::before {
    content: "";
    position: absolute;
    top: -0.625em;
    left: -0.625em;
    right: -0.625em;
    bottom: -0.625em;
    background: linear-gradient(-45deg, #00ffff, #0066ff, #00ffff);
    z-index: -1;
    filter: blur(0.625em);
}

.grid-servicios {
    text-align: center;
    color: #fff;
    border-radius: 2.5em;
    position: relative;
    background: linear-gradient(180deg, #271144, #521b99b7);
    width: 100%;
    box-shadow: 0 0 0.625em 0.187em rgb(13, 105, 105);
    overflow: hidden;
    border: 2px solid transparent;
    box-shadow: 0 0 0.62em 0.187em rgb(13, 105, 105);
    animation: border-neon 2s linear infinite;
}





@keyframes border-neon {
    0% {
        border-color: rgba(90, 255, 255, 1);
        box-shadow: 0 0 0.62em 0.187em rgba(90, 255, 255, 0.5);
    }

    50% {
        border-color: rgba(90, 255, 255, 0.5);
        box-shadow: 0 0 1.25em 0.37em rgba(90, 255, 255, 0.3);
    }

    100% {
        border-color: rgba(90, 255, 255, 1);
        box-shadow: 0 0 0.625em 0.187em rgba(90, 255, 255, 0.5);
    }
}

.servicio-estilo {
    margin: 1.25em 0;
}

.servicio-estilo h2 {
    margin-bottom: 1.875em;
    position: relative;
    cursor: default;
}

.servicio-estilo h2::after {
    content: "";
    position: absolute;
    bottom: -0.312em;
    left: 0;
    right: 0;
    height: 0.312em;
    background-color: cyan;
    opacity: 0.3;

}


.servicio-estilo p {
    font-size: 12px;
    font-weight: 400;
    justify-content: center;
    padding: 0.3125rem 0;
    cursor: default;
}

.descarga {
    margin-bottom: 1.875em;
}

.precio {
    font-size: 2.18em;
    cursor: default;
}

.span {
    margin-top: 0.312rem;
    font-size: 0.875em;
    cursor: default;
    font-weight: 600;
}

.bt {
    display: block;
    width: 35%;
    padding: 0.937em;
    border-radius: 0.937em;
    margin: 0 auto;
    border: none;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0.625em;
    cursor: pointer;
    transition: 0.3s;
    background-color: #300766;
    color: #F7EFE5;
}

.bt:hover {
    width: 40%;
    transition: 0.6s;
    background-color: #4ce7e7;
    font-style: 700;
    color: #000000;
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* taiel         */

/*
==========================================
    SECCION SERVICIOS
==========================================
*/
/* titulo preguntas */
.titulo-preguntas {
    font-size: 40px;
    padding: 3.125rem;
    text-align: center;
    color: white;
    cursor: default;

}

/* titulo preguntas */
.cont-preguntas {
    position: relative;
    z-index: 4;
    margin: 1.875em 15.625em 0px 15.625em;
    padding-bottom: 3.125em;
}

.cont-pregunta {
    margin: 1.875em 0em;
    background-color: white;
    padding: 1.25em 2.5em;
    border-radius: 0.625em;
    opacity: .5;
    cursor: pointer;
}

.cont-pregunta:hover {
    transform: scale(1.01);
    opacity: .7;
    transition: all .3s;
}

.cont-pregunta.activa {
    opacity: 1;
    content: "";
    z-index: -1;
    box-shadow: 0 0 0.625em 0.187em rgb(13, 105, 105);
}

.cont-pregunta.activa .respuesta {
    opacity: 1;
    margin-top: 1.25em;
    overflow: visible;
    max-height: fit-content;
}

.cont-pregunta.activa img {
    transform: rotate(180deg);
}

.respuesta {
    line-height: 0.875rem;
    font-size: 14px;
    font-weight: 400;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: .3s ease all;
}

.pregunta {
    display: flex;
    justify-content: space-between;
    font-size: 19px;
    line-height: 1.1875rem;
    font-weight: 500;

    align-items: center;
}

.ver-mas {
    width: 1.1875em;
}

/* fondo */
.instalacion {
    height: fit-content;
    width: 100%;
    color: #000;
    background: linear-gradient(180deg, rgba(88, 12, 77, 1), #064443, #550b42, #230e31);

}

@keyframes cambiar {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.fondo {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 43.75em;
    background-position-x: center;
    overflow: hidden;
}

.estrellas {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.25em;
    height: 0.25em;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 0.25em rgba(255, 255, 255, 0.1), 0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 1);
    animation: animate 3s linear infinite;
    opacity: 0;
}

span::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 18.75em;
    height: 0.0625em;
    background: linear-gradient(90deg, #fff, transparent);
}

@keyframes animate {
    0% {
        transform: rotate(315deg) translateX(0);
        opacity: 0;
    }

    70% {
        opacity: 1;
    }

    100% {
        transform: rotate(315deg) translateX(-62.5em);
        opacity: 0;
    }
}

span:nth-child(1) {
    top: 0;
    right: 31.25em;
    left: initial;
    animation-delay: 0.3s;
    animation-duration: 3s;
}

span:nth-child(2) {
    top: 0;
    right: 5em;
    left: initial;
    animation-delay: 0.6s;
    animation-duration: 4s;
}

span:nth-child(3) {
    top: 5em;
    right: 0px;
    left: initial;
    animation-delay: 1.2s;
    animation-duration: 2s;
}

span:nth-child(4) {
    top: 0;
    right: 11.25em;
    left: initial;
    animation-delay: 0.9s;
    animation-duration: 3.5s;
}

span:nth-child(5) {
    top: 0;
    right: 2.5em;
    left: initial;
    animation-delay: 0.7s;
    animation-duration: 2.5s;
}

span:nth-child(6) {
    top: 0;
    right: 37.5em;
    left: initial;
    animation-delay: 0.5s;
    animation-duration: 3.5s;
}

span:nth-child(7) {
    top: 300;
    right: 0px;
    left: initial;
    animation-delay: 1.4s;
    animation-duration: 3s;
}

span:nth-child(8) {
    top: 0;
    right: 43.75em;
    left: initial;
    animation-delay: 0.8s;
    animation-duration: 2.5s;
}

span:nth-child(9) {
    top: 0;
    right: 62.5em;
    left: initial;
    animation-delay: 1.1s;
    animation-duration: 4s;
}

span:nth-child(10) {
    top: 0;
    right: 28.125em;
    left: initial;
    animation-delay: 1.3s;
    animation-duration: 3s;
}

/* fondo */



/*
==========================================
            FOOTER
==========================================
*/


/* malena */





footer {
    background: linear-gradient(180deg, #540c42, #0b0218);
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding-top: 4.375em;
    height: 15.625em;

}

.logo-footer {
    position: relative;
    width: 6.875em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.625em;
}

.data {
    margin: auto;
}

.titulo-data {
    color: white;
    font-weight: 400;
    cursor: default;

}

.redes-sociales {
    padding: 0px 12.5em;
}

.titulo-redes {
    color: white;
    cursor: default;
}

.listas {
    margin-top: 1.25em;
    font-weight: 300;
    list-style: none;

}

.listas li {
    margin: 0.625em 0rem;

}


.link-footer {
    color: #F7EFE5;
    text-decoration: none;

    transition: color .3s;
}

.link-footer:hover,
.link-footer:focus {
    color: rgb(3, 148, 148);
    transform: scale(1.2);

}

.cont-redes {
    height: 1.25em;
    width: 31.25em;
    margin-top: 0.625em;
    width: auto;
    display: flex;
    justify-content: space-around;
}

.redes {

    width: 1.25em;
    height: 1.25em;
    color: #00ffff;
    transition: transform .3s;
}

.redes:hover {
    transform: scale(1.1);

}


.whatsapp {
    z-index: 999;
    width: 1.56em;
    padding: 0.9375em;
    border-radius: 50%;
    position: fixed;
    right: 2vw;
    bottom: 3vh;
    background-color: #25d366;
}


.derechos-autor {
    height: 3.125em;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 1%;
    background: linear-gradient(180deg, #0b0218, #000000);
}

.derechos-autor p {
    cursor: default;
    font-weight: 300;
    font-size: 0.8125em;
    color: white;
}


/*
==========================================
            RESPONSIVE
==========================================
*/



@media (max-width : 1200px) {
    body {
        font-size: 14px;
    }

    .logo-imagen {
        width: 6.875em;
    }

    .hero2 {
        padding: 3.125em 0;
    }
}



@media (max-width : 992px) {



    body {
        font-size: 15px;
    }

    .logo-imagen {
        width: 4.875em;
    }

    .servicios {
        display: grid;
        grid-template-columns: 1fr;
        width: 50%;
        margin: 0 auto;
        height: 80em;
        column-gap: 3.125em;
        padding: 1.56em 0;

        background-size: 400% 400%;
        animation: cambiar 10s ease infinite;
    }

    .grid-servicios {
        margin: 1em 0;
    }

    .redes-sociales {
        padding: 0 5em;
    }

    .hero {
        background-size: 100vw, 140vh;
        background-position: top;

    }

    .cont-pregunta {
        width: 25em;

        padding: 1.25em 2 2em;
    }

    .cont-preguntas {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}


@media (max-width : 760px) {

    body {
        font-size: 14px;
    }

    .logo-imagen {
        width: 4.875em;
    }

    .hero2 {
        height: fit-content;
    }

    .cont-hero2 {
        height: 30em;
        flex-direction: column;
    }

    .cont-info {
        margin: 1em 0;
    }

    .redes-sociales {
        padding: 0 3em;

    }
}

@media (max-width : 576px) {
    body {
        font-size: 13px;
    }

    .redes-sociales {
        padding: 0 1.5em;

    }

    .grid-servicios {
        margin: .5em 0;
        height: 30em;
    }

    .servicios {
        margin-bottom: 10em;
    }
}

@media (max-width : 470px) {
    body {
        font-size: 10px;
    }

    .redes-sociales {
        padding: 0 1.5em;

    }

    .grid-servicios {
        margin: .5em 0;
        height: 30em;
    }

    .servicios {
        margin-bottom: 10em;
    }
    .bt{
        width: 50%;
    }
}

/*
==========================================
            RESPONSIVE
==========================================
*/