@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,500;0,600;1,300;1,400&display=swap'); 
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*,::before,::after{
    box-sizing: inherit;
}

body{
    font-family: 'Work Sans',sans-serif;
    font-weight: 400;
}
/* taiel */
.servicios{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    margin: 0 auto;
    height: 400px;
    column-gap: 50px;
    padding: 25px 0;
}

.grid-servicios{
    text-align: center;
    color: #fff;
    border: 2px solid grey;
    border-radius: 40px;    
    position: relative;
    background: linear-gradient(180deg, #271144, #521b99b7);
    width: 100%;
}

.servicio-estilo{
    margin: 20px 0;
}

.servicio-estilo p{
    font-size: 12px;
    font-weight: 400;
    justify-content: center;
    padding: 5px 0;
}

.precio{
    font-size: 35px;
}

.span{
    font-size: 12px;
}

.bt{
    display: block;
    width: 35%;
    padding: 15px;
    border-radius: 15px;
    margin: 0 auto;
    border: none;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 10px;
    cursor: pointer;
    transition: 0.3s;
    background-color: #300766;
}

.bt:hover{
    width: 40%;
    transition: 0.6s;
    background-color: #702acc;
    color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
